*{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#calculator {
  width: 315px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #343434;
}

input[type="text"] {
  width: 100%;
  font-size: 40px;
  height: 60px;
  border: none;

  outline: none;
  text-align: right;
}

button {
  background-color: rgb(87, 87, 87);
  color: white;
  margin-top: 5px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  opacity: 0.7;
  box-shadow: 0px 0px 5px#fff;
}
#clear {
  background-color: #797ef6;
}
#equals {
  background-color: #28a745;
  color: #fff;
  transition: 0.25s;
}

#equals:hover {
  background-color: #218838;
}